* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  place-items: center;
}
.box {
  width: 100px;
  height: 100px;
  background-color: brown;
  text-align: center;
  margin-block: 20px;
  color: white;
  transition: transform 0.5s;
}

.box-1:hover {
  transform: scale(1.1);
}
.box-2:hover {
  transform: translate(200px, 100px);
}
.box-3 {
  transform-origin: top left;
}
.box-3:hover {
  transform: rotate(45deg);
}
.box-4:hover {
  transform: skewX(-20deg);
}
